body#index tonic-tabs#sdk .tonic--tab {
  -webkit-appearance: none;
  user-select: none;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  text-align: left;
  margin-left: 2px;
}

body#index > header {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-items: center;
  background-image: url('/images/large-waves-dark.svg');

  background-size: 100%;
  background-position-x: center;
  background-position-y: 120%;
  background-repeat: no-repeat;
}

body#index > section {
  padding: 0 20%;
  padding-bottom: 60px;
}

body#index > section .lists,
body#index > section {
  background-color: #171717;
}

body#index > section h1 {
  color: var(--tonic-window);
  letter-spacing: 2px;
}

body#index > section h1 span.large {
  line-height: 75px;
}

body#index > section h1 span.medium {
  line-height: 70px;
}

body#index > section h1 span.small {
  line-height: 60px;
}

body#index header p {
  margin-top: 0;
  font-size: 20px;
}

body#index .intro {
  margin: 0 28px;
}

body#index .intro span {
  margin: 0;
  padding: 0;
  display: block;
}

body#index .intro .large {
  font-size: 64px;
}

body#index .intro .medium {
  font-size: 48px;
  margin-top: 10px;
}

body#index .intro .small {
  font-size: 32px;
  margin-bottom: 26px;
}

body#index header .hypno {
  width: 142px;
  margin-bottom: 60px;
  border-radius: 99em;
}

body#index header .compute {
  max-width: 512px;
  display: block;
  margin: auto;
}

body#index header h1 {
  margin-bottom: 6px;
  margin-top: 42px;
  font-size: 52px;
}

body > header .centered {
  width: 50%;
  top: 46%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

body#index tonic-tabs#sdk .tonic--tab[aria-selected="true"] {
  border-bottom: 2px solid;
}

body#index tonic-tab-panel {
  display: none;
}

body#index tonic-tab-panel[role]:not([hidden]) {
  display: block;
}

body#index .content.padded {
  padding: 50px;
}

body#index section.get-started {
  text-align: center;
  background: none;
  padding: 0 0 150px;
}

body#index section.get-started p:not(.copy) {
  margin: 0;
}

body#index section.get-started a {
  margin-top: 42px;
  background: var(--tonic-accent);
}

body#index h2 {
  font: 32px/42px var(--tonic-header);
  margin: 30px auto 10px auto;
  margin-top: 80px;
  font-weight: 900;
}

body#index img {
  -webkit-user-drag: none;
}

body#index .lists {
  background: var(--tonic-dark);
  color: var(--tonic-window);
}

body#index ul.checklist {
  margin: 25px 25px;
}

body#index ul.checklist li:before {
  border-right: 1px solid var(--tonic-window);
  border-bottom: 1px solid var(--tonic-window);
}

@media (prefers-color-scheme: dark) {
  body#index > section {
    background-color: #e9e9e9;
  }

  body#index > section h1 {
    color: var(--tonic-window) !important;
  }

  body#index > header {
    background-image: url('/images/large-waves-light.svg');
  }

  body img[alt="check"], body svg[alt="check"], body#index img {
    filter: invert(100%);
  }

  body#index .lists {
    color: var(--tonic-window) !important;
    background-color: #e9e9e9 !important;
  }

  body#index ul.checklist li:before {
    border-right: 1px solid var(--tonic-window);
    border-bottom: 1px solid var(--tonic-window);
  }
}

body > header .centered {
  width: 50%;
}

@media (max-width: 699px) {
  .lists {
    display: block;
    padding: 20px 0;
  }

  #name-brand {
    display: none;
  }

  body#index > section {
    padding: 0;
  }

  body#index header {
    background-position-y: 100%;
  }

  body#index header .hypno {
    width: 200px;
    margin-bottom: 48px;
  }

  body#index > header .centered {
    min-width: 80%;
  }
}
