body#index tonic-tabs#sdk .tonic--tab {
  -webkit-appearance: none;
  user-select: none;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  text-align: left;
  margin-left: 2px;
}

body#index > header {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-items: center;
}

body#index > header .hardware {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  min-width: 42%;
  align-items: end;
}

body#index > header .title {
  margin-top: 20px;
}

.word {
  position: relative;
  font-family: var(--tonic-header);
  font-weight: 900;
  font-size: 34px;
  display: inline-block;
  color: var(--tonic-primary);
}

.watdo {
  padding: 0 10px;
}

body#index > header .word-a-web {
  top: 24px;
  font-size: 1.5em;
}

body#index > header .word-owned-and-operated {
  top: 54px;
}

body#index > header .word-by {
  top: 70px;
}

body#index > header .word-everyone {
  width: 50%;
  top: 66px;
  font-size: 4em;
}

body#index p.intro {
  font-size: 24px;
  line-height: 32px;
}

body > header .centered {
  width: 50%;
  top: 48%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

body#index tonic-tabs#sdk .tonic--tab[aria-selected="true"] {
  border-bottom: 2px solid;
}

body#index tonic-tab-panel {
  display: none;
}

body#index tonic-tab-panel[role]:not([hidden]) {
  display: block;
}

body#index .content.padded {
  padding: 50px;
}

body#index section.get-started {
  text-align: center;
  background: none;
  padding: 0 0 150px;
}

body#index section.get-started p:not(.copy) {
  margin: 0;
}

body#index section.get-started a {
  margin-top: 42px;
  background: var(--tonic-accent);
}

body#index h1 {
  font: 42px/46px var(--tonic-header);
  margin: 30px auto 20px auto;
  font-weight: 900;
}

body#index h2 {
  font: 32px/42px var(--tonic-header);
  margin: 30px auto 10px auto;
  font-weight: 900;
}

body#index img {
  -webkit-user-drag: none;
}

@media (prefers-color-scheme: dark) {
  body img[alt="check"], body svg[alt="check"], body#index img {
    filter: invert(100%);
  }
}

body > header .centered {
  width: 50%;
}

@media (max-width: 699px) {
  body footer .content,
  body#index > main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lists {
    display: block;
  }

  body#index > main {
    margin-bottom: 150px;
  }

  body#index > header .centered {
    min-width: 80%;
  }
}
