body#index tonic-tabs#sdk .tonic--tab {
  -webkit-appearance: none;
  user-select: none;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  text-align: left;
  margin-left: 2px;
}

body#index > header {
  height: calc(100vh - 70px);
  background: var(--tonic-background);
  border-bottom: 1px dashed var(--tonic-border);
}

body#index > header img {
  max-width: 600px;
}

body#index p.intro {
  font-size: 24px;
  line-height: 32px;
}

body > header .centered {
  width: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

body#index tonic-tabs#sdk .tonic--tab[aria-selected="true"] {
  border-bottom: 2px solid;
}

body#index tonic-tab-panel {
  display: none;
}

body#index tonic-tab-panel[role]:not([hidden]) {
  display: block;
}

body#index .content.padded {
  padding: 50px;
}

body#index section.get-started {
  text-align: center;
  background: none;
  padding: 0 0 150px;
}

body#index section.get-started p:not(.copy) {
  margin: 0;
}

body#index section.get-started a {
  margin-top: 42px;
  background: var(--tonic-accent);
}

body#index h1 {
  font: 42px/46px var(--tonic-header);
  margin: 30px auto 20px auto;
  font-weight: 900;
}

body#index h2 {
  font: 32px/42px var(--tonic-header);
  margin: 30px auto 10px auto;
  font-weight: 900;
}

body#index img {
  -webkit-user-drag: none;
}

@media (prefers-color-scheme: dark) {
  body img[alt="check"], body svg[alt="check"], body#index img {
    filter: invert(100%);
  }

  body > header .centered {
    width: 80%;
  }
}
