* {
  box-sizing: border-box;
}

::-moz-placeholder {
  color: var(--tonic-medium);
}

:-ms-input-placeholder {
  color: var(--tonic-medium);
}

::placeholder {
  color: var(--tonic-medium);
}

::selection {
  background: #fff700;
  color: #000;
}

.hidden,
[hidden] {
  display: none;
}

.tonic--dialog {
  display: grid;
  grid-template-rows: 44px 1fr 80px;
}

.tonic--dialog > header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  line-height: 44px;
  height: 44px;
  text-align: center;
  color: var(--tonic-medium);
  display: block;
}

.tonic--dialog > main {
  padding: 0 30px 10px;
  position: relative;
}

.tonic--dialog > footer {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  background-color: var(--tonic-window);
  bottom: 0;
  padding: 16px;
  width: 100%;
  display: block;
}

.tonic--dialog > footer tonic-button {
  margin-right: 10px;
}

body {
  background: #fff;
  color: var(--tonic-primary);
  font-family: var(--tonic-body);
  font-size: 14px;
  margin: 0;
  height: 100%;
}

body hr {
  height: 1px;
  border: none;
  border-bottom: 1px dashed var(--tonic-primary);
  margin-top: 40px;
}

body blockquote {
  text-align: left;
  border-left: 4px solid var(--tonic-primary);
  margin: 50px auto 50px 10px;
  padding-left: 10px;
  color: var(--tonic-info);
}

body blockquote p {
  font-style: italic !important;
}

body .hide {
  display: none;
}

body .show {
  display: block;
}

body h1,
body h2,
body h3,
body h4,
body h5 {
  font-weight: 900;
  margin: 20px 0;
}

body h1 {
  font: 58px/60px var(--tonic-primary);
  font-weight: 900;
}

body h1:not(#index) {
  font-size: 3em;
}

@media (max-width: 699px) {
  body h1 {
    font: 42px/46px var(--tonic-primary);
    font-weight: 900;
  }
}

body h2 {
  font: 36px/36px var(--tonic-primary);
}

body h3 {
  margin: 30px auto 8px;
  font-size: 20px;
}

body h4 {
  font: 16px/18px var(--tonic-subheader);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-bottom: 30px;
}

body h1 > a,
body h2 > a {
  border-bottom: 2px solid var(--tonic-secondary);
}

body h1 > a:hover,
body h2 > a:hover {
  border-bottom: 2px solid var(--tonic-accent);
}

body a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
}

body a.dotted {
  border-bottom: 1px dotted;
}

body a.text-button {
  color: var(--tonic-primary);
  cursor: pointer;
  font: 12px var(--tonic-subheader);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

body a.text-button:hover {
  color: var(--tonic-accent);
}

body a.text-button.alternate {
  color: var(--tonic-primary);
}

body a.text-button.alternate:hover {
  color: var(--tonic-accent);
}

body > header {
  margin: 240px auto 100px;
  text-align: center;
}

body > header h1,
body > header h2 {
  text-transform: uppercase;
}

body .content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

body .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body .flex > .col {
  flex-basis: 48%;
}

@media (max-width: 699px) {
  body .flex > .col {
    flex-basis: 100%;
  }
}

body p {
  font: 18px/26px var(--tonic-body);
}

body p a {
  border-bottom: 1px solid var(--tonic-accent);
}

body p a:hover {
  color: var(--tonic-accent);
}

body p.caption {
  font: 14px/18px var(--tonic-body);
  font-variant-ligatures: no-common-ligatures;
}

body code {
  font: 14px var(--tonic-monospace);
  background-color: var(--tonic-background);
}

body p > code,
body li > code {
  padding: 3px 5px;
  margin: 0 2px;
  border: 1px solid var(--tonic-border);
  border-radius: 2px;
}

body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body ol {
  list-style: none;
  font: 17px/20px var(--tonic-body);
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
}

body ol li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
}

body ol li:before {
  content: "\2022";
  font: 15px var(--tonic-subheader);
  position: absolute;
  top: 0;
  left: 0;
}

body ol {
  counter-reset: ordered;
}

body ol li:before {
  content: counter(ordered) ".";
  counter-increment: ordered;
}

body .button {
  color: #fff;
  height: 40px;
  min-width: 160px;
  font: 12px var(--tonic-subheader);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding: 12px 15px 10px 15px;
  position: relative;
  display: inline-block;
  background-color: var(--tonic-primary);
  border-radius: 2px;
  line-height: 18px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  transition: 0.25s ease;
  cursor: pointer;
}

body .button:hover {
  color: #fff;
  background-color: var(--tonic-accent);
}

body .button.outline {
  line-height: 16px;
  background-color: transparent;
}

body .page-footer {
  padding: 80px 0;
  text-align: center;
}

body .slide {
  display: none;
}

body .slide.show {
  display: block;
}

body .accent {
  color: var(--tonic-accent);
}

body input-button button:not(.tonic--loading) {
  color: #fff !important;
  background-color: var(--tonic-primary);
}

body input-button .tonic--input-button--wrapper {
  margin: 0;
}

body input-button button:not(.tonic--loading):hover {
  color: #fff;
  border-color: var(--tonic-accent) !important;
  background-color: var(--tonic-accent) !important;
}

body notification-inline .tonic--title {
  font-weight: bold;
}

body notification-inline .tonic--message {
  color: var(--tonic-primary);
  font: 15px/20px var(--tonic-body);
}

body notification-inline .tonic--notification {
  margin-top: 0;
  margin-bottom: 20px;
}

body:not(#index) > main > section:not(.wide) {
  max-width: 1100px;
  margin: 0 auto;
}

body:not(#index) > main > section .wide {
  width: 100%;
}

footer {
  background-color: var(--tonic-primary);
  color: var(--tonic-window);
  font-family: var(--tonic-monospace);
  min-height: 250px;
  padding: 40px 0;
}

footer li {
  margin: 6px 0;
}

footer .footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 0 10%;
}

ul.checklist {
  font: 16px var(--tonic-body);
  margin: 25px 0;
  flex-basis: 50%;
}

@media (max-width: 699px) {
  ul.checklist {
    margin: 0;
  }
}

ul.checklist li {
  line-height: 28px;
  list-style: none;
  position: relative;
  margin-left: 34px;
}

ul.checklist li:before {
  position: absolute;
  content: ' ';
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  left: -24px;
  top: 8px;
  background-image: url("../images/icons/checkmark.svg");
}

ul.checklist li.arrow:before {
  top: 8px;
  background-image: url("../images/icons/arrow-left.svg");
}

@media (max-width: 699px) {
  ul.checklist li.arrow:before {
    background-image: url("../images/icons/arrow-up.svg");
  }
}

.lists {
  display: flex;
}
