@import './highlight.js.css';

body section.primer {
  padding: 30px;
}

body.api markdown-module {
  padding: 30px;
  display: block;
}

body:not(#index) section.primer h2:first-of-type {
  margin-top: 10px;
}

body markdown-module h3 {
  font-size: 24px;
  font-weight: 100;
  font-family: var(--tonic-body);
  margin-top: 60px;
}

body markdown-module ul {
  list-style: decimal-leading-zero;
  padding: 0 30px;
}

body markdown-module li {
  margin: 8px 0;
  line-height: 24px;
}

body markdown-module p a {
  display: inline-block;
}

body markdown-module cite {
  font-size: 14px;
  font-style: initial;
  background: var(--tonic-primary);
  color: var(--tonic-window);
  display: inline-block;
  padding: 0 6px;
  border-radius: 4px;
}

body:not(#index) markdown-module h1,
body:not(#index) markdown-module h2 {
  margin-top: 60px;
}

body markdown-module h3 code {
  font-size: inherit;
}

body markdown-module h3 em code {
  font-size: 14px;
  padding: 4px;
  position: relative;
  border-radius: 4px;
  color: var(--tonic-secondary);
  top: -2px;
}

body markdown-module table + p > strong {
  font-size: 10px;
  border: 1px solid var(--tonic-accent);
  padding: 4px;
  border-radius: 4px;
  background: var(--tonic-window);
  color: var(--tonic-accent);
  text-transform: uppercase;
  vertical-align: middle;
}

body markdown-module.code h2,
body markdown-module.code h3,
body markdown-module.code h4 {
  font-family: var(--tonic-monospace);
}

body markdown-module h2 code,
body markdown-module h3 code,
body markdown-module h4 code {
  font-size: inherit;
}

body:not(#index) markdown-module h1:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

body markdown-module blockquote,
body markdown-module blockquote {
  margin: 0;
}

.complexity {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
  border: 1px solid var(--tonic-border);
  padding: 20px 0;
  align-items: end;
  height: 368px;
}

.complexity > div {
  align-self: baseline;
  height: 256px;
  text-align: center;
  line-height: 24px;
}

.complexity > div > div {
  margin: auto;
  min-height: 4px;
  max-width: 40px;
  background: var(--tonic-primary);
  margin-bottom: 20px;
}
