body.api markdown-module h3 {
  font-size: 24px;
  font-weight: 100;
  margin-top: 60px;
}

body.api markdown-module p a {
  display: inline-block;
}

body.api markdown-module cite {
  font-size: 14px;
  font-style: initial;
  background: var(--tonic-primary);
  color: var(--tonic-window);
  display: inline-block;
  padding: 0 6px;
  border-radius: 4px;
}

body:not(#index) markdown-module h1,
body:not(#index) markdown-module h2 {
  margin-top: 60px;
}

body.api markdown-module h3 code {
  font-size: inherit;
}

body.api markdown-module h3 em code {
  font-size: 14px;
  padding: 4px;
  position: relative;
  border-radius: 4px;
  color: var(--tonic-secondary);
  top: -2px;
}

body.api aside {
  display: grid;
  grid-auto-rows: max-content;
  overflow: hidden;
}

body.api aside a {
  margin: 4px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

body.api aside a {
  text-underline-offset: 2px;
}

body.api aside a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

body.api aside .h1 {
  font-size: 20px;
}

body.api aside .h2 {
  font-size: 18px;
  text-indent: 20px;
  margin-top: 18px;
}

body.api aside .h3 {
  text-indent: 40px;
}

body.api aside .h4 {
  text-indent: 60px;
}

body.api markdown-module table + p > strong {
  font-size: 10px;
  border: 1px solid var(--tonic-accent);
  padding: 4px;
  border-radius: 4px;
  background: var(--tonic-window);
  color: var(--tonic-accent);
  text-transform: uppercase;
  vertical-align: middle;
}

body.api markdown-module h3 code,
body.api markdown-module h3 {
  color: var(--tonic-accent);
}

body.api markdown-module blockquote,
body.api markdown-module blockquote {
  margin: 0;
}

.complexity {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
  border: 1px solid var(--tonic-border);
  padding: 20px 0;
  align-items: end;
  height: 368px;
}
.complexity > div {
  align-self: baseline;
  height: 256px;
  text-align: center;
  line-height: 24px;
}

.complexity > div > div {
  margin: auto;
  min-height: 4px;
  max-width: 40px;
  background: var(--tonic-primary);
  margin-bottom: 20px;
}

@media (max-width: 699px) {
  body.api > aside {
    display: none;
  }
}
