body > nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  height: 66px;
  font: 15px var(--tonic-monospace);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  justify-content: center;
  align-content: center;
  gap: 10px;
  transition: box-shadow .2s ease;
  padding-top: 30px;
}

body.api > nav,
body > nav.shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

body > nav > a {
  display: inline-block;
  font-size: 16px;
  line-height: 42px;
  text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
  body > nav {
    background: var(--tonic-window);
  }
  body > nav img {
    filter: invert(100%);
  }
}

@media (prefers-color-scheme: light) {
  body > nav {
    background: var(--tonic-window);
    color: var(--tonic-primary);
  }
}

body > nav img {
  width: 32px;
  display: block;
  margin: 4px;
  border-radius: 99em;
  vertical-align: middle;
}

body > nav > a:first-of-type {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto 1fr;
  margin-left: 20px;
  gap: 10px;
}

body > nav > a:last-of-type {
  margin-right: 20px;
}

body > nav a {
  margin: 0 10px;
  -webkit-user-drag: none;
}

body > nav a.logo {
  width: 170px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: auto;
  padding-top: 10px;
}

body > nav a.logo img {
  transition: all 0.1s ease-in-out;
  transform: translateY(60px) scale(1.5);
  width: 80%;
  opacity: 1;
}

body#manage > nav a.logo img {
  transform: translateY(0) scale(1);
}

body > nav.scrolling a.logo img {
  transform: translateY(0) scale(1);
}

body > nav.scrolling a.logo:hover .hover {
  opacity: 1;
  transform: translateY(-38px);
}

body > nav.scrolling a.logo:hover img {
  opacity: 0;
  transform: translateY(-50px);
}

body > nav a.logo .hover {
  opacity: 0;
  text-align: center;
  transform: translateY(0);
  transition: all 0.2s ease;
  font-family: var(--tonic-monospace);
}

body > nav .auth:last-of-type {
  margin-left: 20px;
}

body > nav .account-link {
  position: absolute;
  right: 120px;
  top: 30px;
}

body > nav .menu {
  display: none;
  display: inline-block;
  width: 30px;
  height: 24px;
  position: relative;
  top: 8px;
  cursor: pointer;
}

@media (max-width: 699px) {
  body main, #split-main {
    top: 0;
  }

  tonic-split-right {
    width: 100% !important;
  }

  .tonic--split-handle {
    display: none !important;
  }

  tonic-split-left {
    transform: translateX(-100%);
  }

  body > nav {
    padding-top: 0px;
  }

  body > nav .menu {
    display: block;
    position: relative;
  }

  body > nav .menu {
    border-top: 2px solid;
    border-bottom: 2px solid;
  }

  body > nav .menu:after {
    position: absolute;
    content: ' ';
    top: 50%;
    border-top: 2px solid;
    left: 0;
    right: 0;
    margin-top: -1px;
  }

  tonic-split-left {
    width: 100% !important;
    transform: translate(-100%);
    transition: transform .2s ease;
  }

  tonic-split-right {
    transform: translate(0%);
    transition: transform .2s ease;
  }

  body[toc] tonic-split-right {
    transform: translate(100%);
  }

  body[toc] tonic-split-left {
    transform: translate(0%);
  }

  a:not(:first-of-type) {
    display: none;
  }
}
