body > nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  height: 66px;
  font: 15px var(--tonic-monospace);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

body > nav > a {
  margin: 20px;
  display: inline-block;
  font-size: 24px;
}

@media (prefers-color-scheme: dark) {
  body > nav {
    background: var(--tonic-dark);
    border-bottom: 1px dashed var(--tonic-border);
  }
  body > nav img {
    filter: invert(100%);
  }
}

@media (prefers-color-scheme: light) {
  body > nav {
    background: var(--tonic-window);
    border-bottom: 1px dashed var(--tonic-primary);
  }
}

body > nav > ul {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 20px;
}

body > nav li {
  padding: 28px;
}

body > nav img {
  width: 200px;
  display: block;
  margin: 4px;
  margin-left: 10px;
}

body > nav a {
  -webkit-user-drag: none;
}

body > nav a.logo {
  width: 170px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: auto;
  padding-top: 10px;
}

body > nav a.logo img {
  transition: all 0.1s ease-in-out;
  transform: translateY(60px) scale(1.5);
  width: 80%;
  opacity: 1;
}

body#manage > nav a.logo img {
  transform: translateY(0) scale(1);
}

body > nav.scrolling a.logo img {
  transform: translateY(0) scale(1);
}

body > nav.scrolling a.logo:hover .hover {
  opacity: 1;
  transform: translateY(-38px);
}

body > nav.scrolling a.logo:hover img {
  opacity: 0;
  transform: translateY(-50px);
}

body > nav a.logo .hover {
  opacity: 0;
  text-align: center;
  transform: translateY(0);
  transition: all 0.2s ease;
  font-family: var(--tonic-monospace);
}

body > nav .auth:last-of-type {
  margin-left: 20px;
}

body > nav .account-link {
  position: absolute;
  right: 120px;
  top: 30px;
}

@media (max-width: 699px) {
  body > nav .account-link {
    display: none;
  }
}

body > nav .right {
  position: absolute;
  right: 30px;
  top: 30px;
}

@media (max-width: 699px) {
  body:not(.api) main {
    margin: 20px;
  }

  body > nav .right {
    display: none;
  }
}
