html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

body:not(.api) main {
  margin: 0 20%;
  margin-bottom: 100px;
}

body:not(#index) {
  margin-top: 120px;
}

body.api {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr auto;
}

body.api tonic-split {
  top: 66px;
}

body.api tonic-split tonic-split-right {
  scroll-behavior: smooth;
  overflow: scroll;
}

body.api tonic-split tonic-split-right markdown-module {
  padding: 60px;
  display: block;
}

body.api main {
  margin: 8% 10%;
  margin-left: 10px;
  margin-top: 18px;
}

body.api aside {
  margin-top: 26px;
  margin-left: 26px;
}

body h1 {
  font: 60px/60px var(--tonic-header);
  margin: 0;
}

body h1 {
  font-family: var(--tonic-header);
  font-weight: 900;
}

body h4 {
  color: var(--tonic-info);
}

img {
  max-width: 100%;
}

time {
  top: -12px;
  position: relative;
  font-size: 14px;
}

@media (max-width: 699px) {
  body:not(.api) main,
  body main {
    margin: 60px;
    margin-bottom: 100px;
  }

  body footer .content {
    margin: 60px;
  }

  body.api {
    display: block;
    width: 100%;
  }

  body.api main,
  body main {
    margin: 60px;
    margin-bottom: 100px;
  }
}
