body main {
  margin: 10%;
}

body h1 {
  font: 60px/60px var(--tonic-header);
  margin: 0;
}

body h1,
body h2,
body h3 {
  font-family: var(--tonic-header);
  font-weight: 900;
}

body h3 {
  margin-top: 60px;
}

body h4 {
  color: var(--tonic-info);
}
