html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

body:not(.api) main {
  margin: 10% 20%;
}

body.api {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 1fr auto;
}

body.api main {
  margin: 8% 10%;
  margin-left: 10px;
  margin-top: 18px;
}

body.api aside {
  margin-top: 26px;
  margin-left: 26px;
}

body h1 {
  font: 60px/60px var(--tonic-header);
  margin: 0;
}

body h1,
body h2,
body h3 {
  font-family: var(--tonic-header);
  font-weight: 900;
}

body h4 {
  color: var(--tonic-info);
}

img {
  max-width: 100%;
}

time {
  top: -12px;
  position: relative;
  font-size: 14px;
}

@media (max-width: 699px) {
  body.api {
    display: block;
    width: 100%;
  }

  body.api main {
    margin: 14%;
  }
}
