tonic-button div {
  margin: 0 !important;
}

tonic-button button {
  border: 1px solid var(--tonic-border) !important;
}

tonic-button.outline button {
  background: transparent;
  border: 1px solid var(--tonic-primary) !important;
  box-shadow: none;
}

tonic-tabs {
  display: block;
  margin-bottom: 20px;
}

tonic-tabs .tonic--tab {
  margin-right: 20px;
}

tonic-tabs .tonic--tab[aria-selected="true"] {
  border-bottom: 2px solid var(--tonic-primary) !important;
}

tonic-button.outline button:not([disabled]):hover,
tonic-button.outline button:not(.tonic--loading):hover {
  background-color: var(--tonic-primary) !important;
  color: var(--tonic-window);
}

tonic-tooltip .tonic--tooltip {
  max-width: 320px;
  padding: 24px;
  border-radius: 4px !important;
  border: none !important;
}

tonic-tooltip .tonic--tooltip.tonic--show {
  box-shadow: 0 8px 28px rgba(103,103,103,0.25) !important;
}

tonic-sprite {
  position: absolute;
}
